
body {
    font-family: sans-serif;
   margin-left: 210px;
}

/*
h1 {
    color: rgb(2, 182, 152);
}

@media (min-width: 750px) {

}

@media (min-width: 1250px) {
    
}

*/
.sidebar-menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar-menu a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(226, 219, 219);
    display: flex;
    flex-direction: row;

}

.sidebar-menu a:hover {
    color: whitesmoke;
}

.main {
    padding: 0px, 10px;
}







/*
header {
    display: flex;
   flex-direction: row;
   justify-content: center;
}

h1 {
    padding: 1rem;
    color: blue;
}

.nav {
    padding: 1.5rem 2rem;
    box-shadow: 0 0 55px 15px #59545e;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}

.nav a {
    color: #0b9e86;
    text-decoration: none;
}

.checkbtn {
    font-size: 5rem;
    color: rgb(6, 123, 219);
    cursor: pointer;
}

*/
   /*
    <header>

        <div class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu">&equiv;</i>
            </label>
            <div class="nav-menu">
                <a href="">index.thml</a>
                <a href="">style.css</a>
                <a href="">mijnJavaScript.js</a>
                <a href="">SRC</a>
            </div>
        </div>

    </header>


    <div class="img-link">
    <img class="start-beeld" src="src/pizza-margherita.jpg" alt="">
    <a href="https://www.youtube.com/watch?v=xKDnD8sJsuY">video tutorial</a>
</div>
    */