
@font-face {
    font-family: APL2741;
    src: url(Fonts/APL2741Unicode.ttf);}

@font-face {
    font-family: Boris;
    src: url(Fonts/Boris.otf);}

@font-face {
    font-family: Love Craft Italic;
    src: url(Fonts/Love\ Craft\ Italic.ttf);}

@font-face {
    font-family: SimpleHandmade;
    src: url(Fonts/SimpleHandmade.otf);}

@font-face {
    font-family: Cinzel-Medium;
    src: url(Fonts/Cinzel/Cinzel-Medium.ttf);}

@font-face {
    font-family: Cinzel-Bold;
    src: url(Fonts/Cinzel/Cinzel-Bold.ttf);}

@font-face {
    font-family: Castoro Titling Regular;
    src: url(Fonts/CastoroTitling-Regular.ttf);}

@font-face {
    font-family: Tenor Sans Regular;
    src: url(Fonts/TenorSans-Regular.ttf);}

@font-face {
    font-family: Dosis Variable;
    src: url(Fonts/Dosis-VariableFont_wght.ttf);}

@font-face {
    font-family: Allerta Stencil Regular;
    src: url(Fonts/AllertaStencil-Regular.ttf);}
    
@font-face {
    font-family: Keania One Regular;
    src: url(Fonts/KeaniaOne-Regular.ttf);}

@font-face {
    font-family: Merienda Variable;
    src: url(Fonts/Merienda-VariableFont_wght.ttf);}

@font-face {
    font-family: Quicksand Variable;
    src: url(Fonts/Quicksand-VariableFont_wght.ttf);}
    
@font-face {
    font-family: Protest Guerrilla Regular;
    src: url(Fonts/Protest\ Guerrilla\ Regular.ttf);}
    
    
/* voor alle pagina's*/

body {
    font-size: 25px;
    font-family: Tenor Sans Regular;
    margin-left: 275px;}

h1 {
    font-size: 120px;
    font-family: Cinzel-Bold;
    text-decoration: underline;
    color: #2e021c;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;}

h2 {
    font-size: 40px;
    font-family: Castoro Titling Regular;
    text-decoration: underline;
    margin: 10px;}

h3 {
    font-size: 30px;
    margin: 10px;}

p {
    margin: 10px;}

dt {
    margin: 15px;}



/*
@media (min-width: 750px) {
}

@media (min-width: 1250px) {  
}
*/
.sidebar-menu {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;}

.sidebar-menu a {
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: rgba(211, 252, 229, 0.904);
    display: flex;
    flex-direction: row;}

.sidebar-menu a:hover {
    background-color: rgb(0, 235, 157);
    color: rgb(0, 0, 0);
    cursor: pointer;}
    /*text-shadow: 5px 5px 15px rgb(245, 96, 171);*/

/*HOMEPAGE.HTML*/

.main {
    padding: 15px;
    background-color: #ddb1f785;
    border-radius: 20px;}

.body-homePage {
    background-image: url(src/beeld-homepage.png);
    background-size: cover;}

.body-homePage h1 {
    font-family: Cinzel-Bold;
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    color: #04094d;
    background-color: rgba(55, 245, 252, 0.363);
    border-radius: 20px;}
    /*-webkit-text-stroke: 0px rgb(248, 232, 88);*/

.body-homePage p {
    font-size: 25px;
    font-family: Tenor Sans Regular;
    letter-spacing: 2px;
    font-weight: light; } 
    /*font-style: oblique;       / italic
    text-transformation: uppercase;*/

mark {
    color: #2e021c;
    background-color: rgba(228, 118, 238, 0.199);}

footer {
    font-family: Merienda Variable;
    font-size: 20px;
    text-align: end;}

/*.main hr { 
    color: rgb(64, 2, 70);        werkt niet!
    stroke-width: 50px;
    size: 50px;                 
    width: 50px;}*/

/*HTML.HTML*/

.body-HTML {
    background-image: url(src/beeld-html.png);
    background-size: cover;}

.titel-HTML h1{
    width: 400px;
    height: auto;
    background-image: url(src/background-3.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px rgb(22, 22, 22);}

.main-HTML {
    background-color: #f7042441;
    border-radius: 20px;
    padding: 15px;}

.main-HTML h2 {
    text-transform: capitalize;
    background-color: #91087f46;
    border-radius: 20px;
    padding: 15px;}

.main-HTML h3 {
    background-color: #5c0af53b;
    border-radius: 20px;
    padding: 15px;}

.main-HTML mark {
    color: #020338;
    background-color: #a4a5f859;}

.main-HTML ul {
    background-color: #829efc4d;
    border-radius: 20px;}

/*CSS.HTML*/

.body-CSS {
    background: linear-gradient(to top, rgb(163, 215, 228) 10%, rgb(243, 243, 158) 60%, rgb(250, 172, 230) 80%);}

.body-CSS p{
    font-family: Merienda Variable;
    font-size: 60px;
    text-transform: capitalize;
    background: linear-gradient(to top, rgb(107, 2, 107) 20%, rgb(190, 190, 2) 50%, rgb(255, 3, 3) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(43, 41, 41);}

.titel-CSS h1{
    width: 250px;
    height: auto;
    background-image: url(src/background-23.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(22, 22, 22);}

.titel-CSS {
    display: flex;
    flex-direction: row;}

.body-CSS p {
    font-size: 35px;}

/*JAVASCRIPT.HTML*/

.body-javaScript {
    background-image: url(src/beeld-javascript.png);
    background-size: cover;}

.body-javaScript h1{
    font-family: Keania One Regular;
    font-size: 120px;
    margin: 20px;
    
    color: #790197c9;
    /*text-align: center;    werkt niet
    -webkit-text-stroke: 1px rgb(85, 1, 43);*/}

/*.body-javaScript hr { 
     color: rgb(64, 2, 70);        werkt niet!
    size: 50px;}*/

.beeld-sunflower {
    width: auto;
    height: 200px;
    margin: 10px;}

.titel-javaScript {
    display: flex;
    flex-direction: row;
    justify-content: space-between;}

.list-javaScript {
    margin: 5px;
    border: #8a436c;}

.list-javaScript dt {
    font-size: 30px;
    /*margin: 5px, 10px;*/}

.list-javaScript dd {
    font-size: 25px;
    /*margin: 0px, 20px, 0px, 50px;*/}



/*SRC.HTML*/

.body-src {
    background-image: url(src/beeld-src.png);
    background-size: cover;  }

/*PROGRAMMAS.HTML*/

.body-programmas {
    background-image: url(src/beeld-programma.png);
    background-size: cover;  }

.titel-list-programmas, .titel-list-beeld-verwerking-programmas {
    font-size: 40px;}

.list-programmas, .list-beeld-programmas {
    font-size: 25px;}


/*INSPIRATIE.HTML*/

.body-inspiratie {
    background-image: url(src/beeld-inspiratie.png);
    background-size: cover;  }

.titel-list-inspiratie, .titel-list-p5-inspiratie {
    font-size: 40px;}

.list-inspiratie, .list-p5-inspiratie {
    font-size: 25px;}


/*.list-inspiratie dd {
    font-size: 50px;
    font-weight: bold;
    background-image: url(src/list-programmas.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(18, 2, 59);}*/

/*p5 implementeren*/

.body-p5implementeren {
    margin: auto;
    background-color: rgb(177,238,248);}

.body-p5implementeren h1 {
    font-size: 60px;
    text-align: center;
    margin: auto;
    color: rgb(247, 229, 73);
    -webkit-text-stroke: 1.2px #050775;}


/*
header {
    display: flex;
   flex-direction: row;
   justify-content: center;
}

h1 {
    padding: 1rem;
    color: blue;
}

.nav {
    padding: 1.5rem 2rem;
    box-shadow: 0 0 55px 15px #59545e;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}

.nav a {
    color: #0b9e86;
    text-decoration: none;
}

.checkbtn {
    font-size: 5rem;
    color: rgb(6, 123, 219);
    cursor: pointer;
}

*/
   /*
    <header>

        <div class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="menu">&equiv;</i>
            </label>
            <div class="nav-menu">
                <a href="">index.thml</a>
                <a href="">style.css</a>
                <a href="">mijnJavaScript.js</a>
                <a href="">SRC</a>
            </div>
        </div>

    </header>


    <div class="img-link">
    <img class="start-beeld" src="src/pizza-margherita.jpg" alt="">
    <a href="https://www.youtube.com/watch?v=xKDnD8sJsuY">video tutorial</a>
</div>
    */